MODEL_NAME=HuggingFaceTB/SmolLM2-135M-Instruct
MODEL_REVISION=main
DEVICE=cpu
TORCH_THREADS=4
MAX_BATCH_SIZE=8
BATCH_WAIT_MS=20
MAX_QUEUE_SIZE=100
QUEUE_TIMEOUT_S=30
REQUEST_TIMEOUT_S=120
MAX_INPUT_TOKENS=1024
MAX_OUTPUT_TOKENS=512
CACHE_SIZE=128
HF_CACHE_DIR=.cache/huggingface
